{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

    This friendly message is coming from:
    <ul>
        <li>{{ page.title }}</li>
        <li>{{ page.description }}</li>
        <li>{{ page.keywords }}</li>
    </ul>
{% endblock %}
